repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
        args: ["--fix", "lf"]
  - repo: "https://github.com/asottile/pyupgrade"
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: ["--py311-plus"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-format
      - id: ruff-check
  - repo: "https://github.com/pre-commit/mirrors-mypy"
    rev: v1.19.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-requests==2.28.11.5
          - pytest==7.2.0
